body.{ /* body的外边距和内边距*/
  margin:0 0 0 0;
  padding:0 0 0 0;
}
.page-wrapper{ /*给page—wrapper设定属性 */
  width:630px; /*宽度 */
  background-image:url(rounded.jpg); /*背景图片*/
  background-repeat:no-repeat; /* 背景图片不重复*/
  background-position:bottom; /*背景放在底部 */
  margin:auto;  /*外边距是计算机计算*/
  padding: 0 0 100 0; /*内边距是0 0 100 0 */
}
.intro{
  width:400px;
  margin:0 0 0 0;
}
header{
  background-image:url(header.jpg);
  width:630px;
  height:387px;
}
header h1,h2{
  display: none;
}
p {
    color: #999999;
    font-size: 11px;
    font-weight: normal;
    line-height: 1.4em;
    font-family: Geneva, Arial, Helvetica, sans-serif;
}
.summary p:last-child {
    border: 0px solid #000000;
    margin: -110px 0 95px 288px;
    padding: 0 0 0 15px;
    text-transform: uppercase;
    width: 290px;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: normal;
    color: #999999;
    background: transparent url(bullet.jpg) no-repeat 0% 28%;
}
a:link{
    color: #6D2542; /*链接颜色*/
    text-decoration: none; /* 文本装饰默认*/
}
.preamble, .explanation, .participation, .benefits, .requirements {
    border-bottom: 0px dotted #999999;
    position: relative;
    width: 350px;
    margin: 0 0 0 60px;
}
.preamble h3 {
    width: 286px;
    height: 64px;
    background-image: url(title01.jpg);
    background-repeat: no-repeat;
    background-position: left top;
    margin-bottom: -5px;
}
header h1, header h2, .summary p:first-child {
    display: none;
}
.preamble h3, .explanation h3, .participation h3, .benefits h3, .requirements h3 {
    text-indent: 100%; /*文本缩进：100% */
    white-space: nowrap;/* 白色的空间不换行*/
    overflow: hidden;  /*溢出 隐藏 */
}
