body{
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
header{
  background: red;
  width: 630px;
  height: 350px;
  margin: 0px 400px 0px 400px;
}
header h1 ,header h2{
  display: none;
}
.summary p:first-child { /* 第一个p */
  display: none;
}
.summary p:last-child {
  margin: -110px 0 95px 800px;
  width: 300px;
  text-transform: uppercase;
}
.preamble, .explanation, .participation, .benefits, .requirements {
   width: 350px;
   margin: 0 0 0 400px;
   background: green;
}
p {
   color: #999999;
   font-size: 11px;
   font-family: Geneva, Arial, Helvetica, sans-serif;
}
footer {
    margin: 10px 0 0 400px;
}
.sidebar {
    position: absolute;
    top: 400px;
    padding: 0 0 0 0;
    left: 800px;
    width: 180px;
    right: auto;
}

