body{
  margin:0 0 0 0;
  padding:0 0 0 0;
}
.page-wrapper {
    width: 630px;
    margin: auto;
    padding: 0 0 100px 0;
    background-image: url(rounded.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    border: 0px dotted #999999;
    position: relative;
}
div {
    display: block;
}

