body {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
header {
  background-image: url(header.jpg);
  width: 630px;
  height: 387px;
  margin: auto;
}
.page-wrapper {
    width: 630px;
    margin: auto;
    background-image: url(rounded.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    padding: 0 0 100px 0;
}
header h1,header h2 {
  display: none;
}
.summary p:first-child{
  display: none;
}
.summary p:last-child{
  width: 290px;
  margin: -110px 0 95px 290px;
  background-image: url(bullet.jpg);
  background-repeat: no-repeat;
  padding: 0 0 0 15px;
  color: #999999;
  font-size: 10px;
  text-transform: uppercase;
  background-position: 0px 7px;
  font-family: Geneva, Arial, Helvetica, sans-serif;
}
p {
  font-size: 11px;
  color: #999999;
  font-family: Geneva, Arial, Helvetica, sans-serif;
}
.preamble {
  width: 350px;
  margin: 0 0 0 60px;
}
.preamble h3 {
  width: 286px;
  height: 64px;
  background-repeat: no-repeat;
  background-image: url(title01.jpg);
  margin: 0 0 -5px 0;
  text-indent: 100%;
}
