body{
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
.page-wrapper{
  width: 630px;
  margin: auto;
  padding: 0 0 0 0;
}
header{
  width: 600px;
  height: 400px;
  background: red;
  margin: auto;
}
header h1, header h2{
 display: none;
}
.summary p:first-child {
 display: none;
}
.summary p:last-child {
  margin: -110px 0 100px 310px;
  width: 290px;
}
.preamble, .explanation, .participation, .benefits, .requirements{
  background: green;
  width: 350px;
  margin: 0 0 0 14px;
}

.sidebar {
  width: 200px;
  background: yellow;
  float: left;
  margin-left: 40px;
}
footer{
    margin: 0 0 0 14px;
}

#zen-supporting {
  position: absolute;
  width: 350px;
}

.explanation {
  float: left;
}
.preamble {
  float: left;
}
